[2017-08-26 12:00] GuillaumeGomez opened #3 "When doc is generated, links aren't made between crates' types"
To solve this issue, I need to generate all docs by remove the corresponding option and then only copy the current crate's files.

[2017-10-03 21:26] GuillaumeGomez opened #6 "Badges aren't updated on gtk-rs.org"

[2017-11-26 17:35] GuillaumeGomez opened #9 "Remove ironman-machine from contributors in blog post"

[2017-11-26 17:36] GuillaumeGomez opened #10 "Add newline at the end of Cargo.toml when missing"

[2017-11-26 18:00] GuillaumeGomez opened #11 "Add PRs from gir as well for the blog post"

[2017-12-10 21:00] #9 closed

[2017-12-10 21:00] #10 closed

[2017-12-14 17:06] GuillaumeGomez opened #15 "Add tags on release branches when releasing"

[2017-12-14 23:22] #15 closed

[2018-01-04 23:03] GuillaumeGomez opened #18 "Add option to only update badges"

[2018-02-09 21:54] GuillaumeGomez commented on #18
Done in #19.

[2018-02-09 21:54] #18 closed

[2018-02-09 21:55] GuillaumeGomez commented on #6
Fixes by #19.

[2018-02-09 21:55] #6 closed

[2018-02-09 22:18] #11 closed

[2018-02-20 10:53] talklittle opened #21 "Proposal for new release process supporting multiple versions"
Currently the release process only supports a single version at a time, with no possibility to backport bugfixes to older releases.

For example, there may be many features and fixes going into a `gtk` crate version 0.7.0 from 0.6.0. Behavior can break between the two versions. The current release process does not have a way to support both an 0.7.x and 0.6.x release simultaneously; all fixes woul

[2018-02-20 10:59] GuillaumeGomez commented on #21
Having such a system is quite heavy however I intended to *start* thinking about it after the 1.0 release (some day...). It takes already a huge amount of time to maintain `gtk-rs` and having this system would only make it even more difficult.

[2018-02-20 11:02] sdroege commented on #21
I proposed this before and @GuillaumeGomez prefers how he currently does it and he's the one doing releases :) But that's basically how I do the releases of the GStreamer bindings, and also how GStreamer itself is doing it successfully since a decade or so

[2018-02-20 11:04] sdroege commented on #21
Also it does not really increase workload in my case (for 12+ repositories in case of GStreamer, and similar amount for GStreamer bindings). It's just a different workflow

[2018-02-20 11:41] EPashkin commented on #21
As I remember there problem with referencing crate by git if it has version, that newer that on crates.io.
So "On the master branch, change the version from 0.7.0-alpha to 0.8.0-alpha" maybe not good.
@sdroege maybe you don't have this problem as all your crates in same repo?

[2018-02-20 11:45] sdroege commented on #21
There's not really a problem there (make sure to run "cargo update" as usual when changing versions though), it's just like there would be multiple versions on crates.io. But as usual you need to make sure that there are no conflicting version requirements between your Cargo.toml and your dependencies.

(Also my things are in two repositories)

[2018-02-20 12:43] sdroege commented on #21
Also if you check, basically everybody is doing it like that. For example check hyper

[2018-02-20 12:51] GuillaumeGomez commented on #21
I really don't like playing with multiple branches. Tags are there for this. For me, the version on the `master` branch doesn't matter and the `crate` branch should be what we have on `crates.io`. All of this is up to debate but I have to admit that I'm not very motivated by handling things this way. :-/

[2018-02-20 13:17] sdroege commented on #21
Tags are for releases, branches are for separate "development" lines. I.e. you would have one for active development where everything can be broken (master), and then 0.4, etc branches that only get bugfixes as needed and are used for making releases. Basically like your crate branch nowadays, but versioned with the release series it is for.

And at the same time versions in the Cargo.toml of each

[2018-02-20 13:26] GuillaumeGomez commented on #21
Actually, with your explanations, having a branch for every published version of the crate makes sense. It'll require quite the update for my release script but that seems doable pretty quickly with not much. So in my head:

 * create a new branch from the previous version which will be named after the release version number
 * create another branch from this new branch where I'll push the changes

[2018-02-20 13:47] sdroege commented on #21
Not a branch for every published version, but for each "release series". So for 0.3, 0.4, 0.5, etc. In there you would then do the 0.3.0, 0.3.1, 0.3.2, 0.4.0, 0.4.1, etc releases and create tags for them.

[2018-02-20 13:48] talklittle commented on #21
@GuillaumeGomez I think those steps are not really necessary. You can branch directly from `master` to your new release branch `0.7.x` if you are about to release version 0.7.0.

I would not branch from a previous version branch, like branching from `0.6.x` to `0.7.x`, because the previous branch `0.6.x` may contain extra backported commits that might not merge cleanly with `master`.

Supposedly s

[2018-02-20 13:50] GuillaumeGomez commented on #21
Well, that's a huge mess and the very reason why I'm basically against it. I can't just make a release from `master`, I need to merge it into the current `crate` branch otherwise the cargo file just becomes a huge mess and I have to fix it by hand. For all crates. And believe me: I don't want to do it.

[2018-02-20 13:53] sdroege commented on #21
That's why you do the release from the e.g. 0.3 branch, never from master :)

[2018-02-20 13:55] GuillaumeGomez commented on #21
Yes but a new branch serie should be created from `master` if I understood correctly. Which also means that I'll have to update all `Cargo.toml` files by hand. Or did I miss anything?

[2018-02-20 13:58] sdroege commented on #21
Yes you would create a new branch from master. master would always point at GIT versions of things, the branches would point at the things released on crates.io. So you would have to update the version number in Cargo.toml by hand and also point the dependencies to the actual versions.

But you have to do that now anyway or not? Or your script is doing it, so it could also be used for doing that w

[2018-02-20 14:01] GuillaumeGomez commented on #21
My script is "doing it". But in a stupid way, it'd require a great update to make it work globally (not very difficult though but still would have have to be done). That's clearly something I'd like to avoid.

[2018-02-20 14:03] talklittle commented on #21
There's also the [cargo-edit](https://github.com/killercup/cargo-edit) crate that may help with modifying the Cargo.toml files from the command line or by Python script.

[2018-02-20 14:05] GuillaumeGomez commented on #21
So, to sums all this up: I'll do it in the future (very likely *after* the 1.0). But for the moment, I don't intend to support older versions of the crates. We fix bugs for latest versions.

[2018-02-20 14:05] sdroege commented on #21
How I'm doing it currently is by simply invoking `sed` in the right way after branching. It's not really work.

[2018-02-20 14:07] sdroege commented on #21
It's not really about providing fixes for older versions, at least for me. But about having the versions in a structured way in GIT and a simple way of backporting things to the *current* release series by having a branch for that. And having the Cargo.toml in each branch with the correct version and dependencies

[2018-02-20 14:10] GuillaumeGomez commented on #21
[code]

Becomes:

[code]

Easy transformation but still requires to parse things a bit. Also, I **really** don't like relying on platform specific tools, `cargo-edit` seems like a better idea to do this (even though I won't use it).

For the moment, almost every release is a major one so having a release serie doesn't make much sense.

[2018-02-20 14:11] sdroege commented on #21
In my case it's
[code]
to
[code]

[2018-02-20 14:12] GuillaumeGomez commented on #21
We like having multiple lines. :stuck_out_tongue:

[2018-02-20 14:13] sdroege commented on #21
I think that's mostly because with the current scheme it's difficult to make bugfix releases. You know that I was asking for bugfix releases a few times in the past already for specific fixes.

In case of the GStreamer bindings, it's a matter of 5 minutes to do a bugfix release now and I'm doing that whenever enough useful fixes have accumulated.

[2018-02-22 08:54] EPashkin opened #22 "Proposal for change strategy for version update in Cargo.tom"
Currently we (script) open single crate Cargo.toml, iterate through dependencies and increase it depending by `UpdateType` (major/medium/minor), then same process repeated for all crates.

I propose separate version increasing and applying:
- Add config with versions for all your crates (maybe just to `consts.CRATE_LIST`)
- On release first thing is update this config by release type (`UpdateType`

[2018-03-08 15:06] EPashkin commented on #22
@GuillaumeGomez What you think about this?

[2018-03-08 15:09] GuillaumeGomez commented on #22
I planned to talk about this in the next rust+GNOME hackfest (if you can/want to come, just send me an email, it'd nice to have you with us). @sdroege has ideas about this and what he proposed sounded good. In here, I'm not so sure to see what is the advantage of this system...

[2018-03-08 15:43] EPashkin commented on #22
Thanks, for not forgetting about this issue.
I don't plan to go, so I leave the decision to you two.

[2018-03-08 18:18] EPashkin commented on #22
@GuillaumeGomez How about use `ours` option for `recursive` merge strategy for merging master into crate:
`git merge -s recursive -X ours master`
It removes merge conflict in `Crate.toml` but leaves nonconflicting changes

[2018-03-08 18:21] EPashkin commented on #22
Bad that on current gtk it remove `lazy_static = "1.0"` too :(

[2018-03-14 09:03] sdroege opened #24 "New releases"
As discussed with @GuillaumeGomez , a new set of releases this weekend would be nice. From what I can see, everything we wanted included is there now (except for the callback guards that had to be added back because of Rust 1.24.1, that can wait until 1.25/1.26).

@EPashkin @tmiasko @MathieuDuponchelle ?

[2018-03-14 15:51] EPashkin commented on #24
IMHO all ready for new release.

[2018-09-08 10:34] GuillaumeGomez opened #32 "Check if bug "gir-files/*" comes from here"
It adds ` = ` at the end of the line?

[2018-09-08 10:35] EPashkin commented on #32
Probably from here?

[2018-09-08 10:35] EPashkin commented on #32
https://github.com/gtk-rs/release/blob/master/src/my_toml.py#L18

[2018-09-08 10:36] GuillaumeGomez commented on #32
To be confirmed but it's very likely. I'll take a look once the release is done.

[2018-09-08 11:29] #32 closed

[2018-09-08 12:55] #24 closed

[2018-09-08 12:56] GuillaumeGomez opened #35 "Add CI tests"
To test potential syntax errors and TOML parser.

[2018-09-09 14:06] GuillaumeGomez opened #36 "Change the cced people on created PRs"
For now, sdroege is missing.

[2018-09-09 14:18] GuillaumeGomez opened #37 "glib has to be published before cairo-sys"

[2018-09-09 14:20] GuillaumeGomez opened #38 "Display message when publishing crates to know which one is being published"

[2018-09-09 15:14] GuillaumeGomez opened #39 "fix search-index.js generation"
`search-index.js` is now a bit different so any line not starting with `[` should be kept.

[2018-09-09 16:01] #39 closed

[2018-09-09 16:07] #38 closed

[2018-09-09 16:09] #37 closed

[2018-09-09 16:11] #36 closed

[2018-09-09 17:09] GuillaumeGomez opened #44 "Open a Pull request for examples repository as well"
Between the pending and master branches.

[2018-09-09 17:16] EPashkin commented on #44
With "new" cargo '[patch.crates-io]' we maybe don't need pending branch anymore,
I will test it later.

[2018-09-09 17:16] GuillaumeGomez commented on #44
Oh? Interesting!

[2018-09-09 18:31] GuillaumeGomez opened #45 "Fix gir blog post links"
For now they're generated a bit [weirdly](https://github.com/gtk-rs/gtk-rs.github.io/pull/85)...

[2018-09-09 20:36] #45 closed

[2018-09-09 20:41] #44 closed

[2018-09-09 20:52] GuillaumeGomez opened #49 "Create multiple tags if more than one crate in a repository"
In cairo, sourceviez and sys repositories, multiple crates are in one repository, which is problematic for the tagging. I think we should put sys crates behind a tag like `crate-sys-version` and don't change anything for "main" crate.

Original discussion can be found here: https://github.com/gtk-rs/sys/pull/109

[2018-09-09 20:52] GuillaumeGomez commented on #49
Does it seem ok like this for you @EPashkin ?

[2018-09-09 20:53] EPashkin commented on #49
Yes.

[2018-09-09 20:54] GuillaumeGomez commented on #49
Cool! I'll send a PR soon then.

[2018-09-09 20:55] EPashkin commented on #49
Thanks in advance.

[2018-09-10 16:14] EPashkin opened #50 "Skip CI for generated PRs"
.. to minimize its queue.
Both [travis](https://coderwall.com/p/f7fusq/how-to-skip-making-a-build-in-travis-ci) and [appveyor](https://www.appveyor.com/docs/how-to/filtering-commits/#skip-commits) seems understand "[ci skip]" in commit message.

@GuillaumeGomez, @sdroege what you think?

[2018-09-10 16:20] GuillaumeGomez commented on #50
Sounds good to me! :+1:

[2018-09-10 19:29] sdroege commented on #50
What are generated PRs?

[2018-09-10 19:35] GuillaumeGomez commented on #50
All the ones which start with `[release] `.

[2018-09-10 19:43] sdroege commented on #50
Sure

[2018-09-10 21:57] GuillaumeGomez opened #51 "gtk-test repository should be released through this script as well"
Basically, it requires to update the crate version (in both master and crate branches) and to update dependencies (in crate branch). Then it'd open the PR and here we go!

[2018-09-11 08:04] #50 closed

[2018-09-11 08:27] #51 closed

[2018-09-11 22:07] #49 closed

[2018-09-12 16:21] EPashkin opened #55 "Usage '[patch.*]` report"
@GuillaumeGomez, @sdroege
I tried use `[patch.crates-io]` in gtk-rs crates to minimize difference between `master` and `crate` branches.
See my test forks https://github.com/EPashkin/examples/tree/as_master,
https://github.com/EPashkin/rust-gnome-sys/tree/as_crate,
https://github.com/EPashkin/glib/tree/as_crate,
https://github.com/EPashkin/cairo/tree/as_crate,
https://github.com/EPashkin/gtk/tree/

[2018-09-24 08:48] GuillaumeGomez opened #56 "When generating docs, it'd be nice to generate sources as well"
For the moment, all `[src]` links are broken.

[2018-10-07 20:55] #56 closed

[2018-11-21 12:13] jsparber opened #135 "Bump version in master after new release"

[2019-01-31 14:57] GuillaumeGomez opened #62 "Need to write a minifier since minification is disabled"
In order to be able to merge "search-index.js" files, I needed to disable minification. I just need to write a wrapper above the `minifier-rs` crate used by rustdoc in order to have back again in here as well.

[2019-02-15 23:31] GuillaumeGomez commented on #62
Fixed by #63.

[2019-02-15 23:31] #62 closed

[2019-05-12 15:26] GuillaumeGomez opened #71 "Generated documentation source view only contains last generated crate files"

[2019-06-04 13:07] sdroege opened #73 "New release"
We should get a new release of every crate out soonish. Let's collect all issues that we want to have fixed before that. @GuillaumeGomez @EPashkin, please edit this issue description and add the things you care about.

* [x] https://github.com/gtk-rs/cairo/pull/260
* [x] https://github.com/gtk-rs/cairo/pull/267
* [x] https://github.com/gtk-rs/gtk/issues/821 / https://github.com/gtk-rs/gtk/pull/822

[2019-06-04 17:29] EPashkin commented on #73
I seems don't have any.

[2019-06-04 19:28] sdroege commented on #73
@GuillaumeGomez Why do you consider those gir issues as blocking the release though? The functions were not generated before and those issues don't cause misgeneration of anything that is currently generated. It seems like just a new feature. That said, if you think that's easy to do, sure :)

Note that `g_spawn_sync()` can't be autogenerated regardless of that gir bug. The function it would creat

[2019-06-04 20:26] GuillaumeGomez commented on #73
Okay, let's make a deal: I'll make the new release this sunday whatever happens on gir issues. However, I still want the cairo PR to be merged. Also I just noticed this issue: https://github.com/gtk-rs/glib/issues/469. Memory leaks are bad. :-/

[2019-06-05 05:53] sdroege commented on #73
No need to do it this Sunday, whenever the important issues are solved :) I just don't see the importance of these two gir issues.

I agree. To me it looks ready but let's ask if everybody in the ticket agrees :)

I'll take a look at that one later. I believe it does not affect any of our current code though.

[2019-06-19 05:22] sdroege commented on #73
Seems like we have everything in place for the release now once the PRs to bump the minimum Rust version to 1.34 are merged.

If anybody wants something else before the release, speak now :)

[2019-06-19 08:35] GuillaumeGomez commented on #73
Maybe check example PRs? Some should be ready to get merged.

[2019-06-19 08:59] sdroege commented on #73
The ones from 2017 and before you can probably close, they're outdated and would require updates at this point. Looking at the others now.

[2019-06-19 09:14] sdroege commented on #73
Nothing ready to be merged there.

[2019-06-20 08:44] GuillaumeGomez commented on #73
I added https://github.com/gtk-rs/cairo/pull/264 to the blockers.

[2019-06-22 12:09] GuillaumeGomez commented on #73
Time to start!

[2019-06-22 12:09] #73 closed

[2019-06-22 12:45] GuillaumeGomez opened #74 "Generate different commit message for dependencies version update and lib version update"
Currently it's "Update versions \[ci skip]" for both, which isn't very helpful...

[2019-06-22 13:00] GuillaumeGomez opened #75 "Sort contributors alphabetically when generating blog post"

[2019-06-22 13:51] GuillaumeGomez opened #76 "Sort pull requests in reverse number order (to go from oldest to newest)"

[2019-06-22 15:16] GuillaumeGomez opened #77 "Add wait time between two publications to let crates.io update its cache or whatever..."

[2019-06-22 15:17] EPashkin commented on #77
cairo already published?
If not we can fix 3 warnings

[2019-06-22 15:19] GuillaumeGomez commented on #77
Not yet. Please open the PR quickly. :)

[2019-06-22 16:16] GuillaumeGomez opened #78 "Bad message indent"
[code]

[2019-06-22 16:17] GuillaumeGomez opened #79 "Add messages to tell what's going on when generating docs"
Most of the build is spent on `Cloning "lgpl-docs" from "https://github.com/gtk-rs/lgpl-docs"`, which isn't very nice nor informative.

[2019-06-22 16:48] GuillaumeGomez opened #80 "lgpl-docs publish step is failing"
This repository doesn't have a `crate` branch so it shouldn't try to check it out.

[2019-06-22 17:53] GuillaumeGomez opened #81 "Escape `[` and `]` inside link (when generating PRs list)"

[2019-06-22 19:07] GuillaumeGomez opened #82 "Fix rustdoc JS generation"

[2019-06-23 11:47] #81 closed

[2019-06-23 11:57] #80 closed

[2019-06-23 12:10] #78 closed

[2019-06-23 12:19] #79 closed

[2019-06-23 12:35] GuillaumeGomez commented on #77
Fixed by #87.

[2019-06-23 12:35] #77 closed

[2019-06-23 12:36] #76 closed

[2019-06-23 12:40] #75 closed

[2019-06-23 13:07] GuillaumeGomez commented on #74
Actually it does both as one so it's fine.

[2019-06-23 13:07] #74 closed

[2019-06-23 13:39] GuillaumeGomez opened #91 "Add CI with pylint (and fix all pylint warnings)"

[2019-07-03 22:33] GuillaumeGomez opened #93 "Create a branch bound to a version when making a release"
When releasing `0.5` for example, it'd be nice to have a `0.5` branch created on the repository (as discussed before in #21).

[2019-08-12 09:20] sdroege opened #94 "New release"
* [ ] https://github.com/gtk-rs/glib/issues/514 @sdroege
* [x] Ending https://github.com/gtk-rs/gir/pull/816 @GuillaumeGomez
  * [x] code regen
* [x] https://github.com/gtk-rs/gir/pull/826 @EPashkin
  * [x] code regen
* [x] End to update cargo files to handle docs.rs better @GuillaumeGomez (https://github.com/gtk-rs/gir/pull/820)
* [x] gtk-rs/gir#825 @fengalin
* [x] gtk-rs/glib#513 @fengalin
* [x]

[2019-08-12 09:21] sdroege commented on #94
CC @GuillaumeGomez @EPashkin @fengalin @brainblasted

[2019-08-12 09:24] GuillaumeGomez opened #95 "Open a new issue here to track what's missing for next release"
Like #94

[2019-08-12 09:55] fengalin commented on #94
This is a tracking list for **"Code regen for gtk-rs/glib#513"**:

- [x] https://github.com/gtk-rs/gir/pull/825
- [x] https://github.com/gtk-rs/glib/pull/513
- [x] https://github.com/gtk-rs/gio/pull/233
- [ ] https://github.com/gtk-rs/atk/pull/36. CI failure expected (OK for crate). **Pending merge**.
- [ ] https://github.com/gtk-rs/gdk-pixbuf/pull/128. CI failure expected (OK for crate). **Pendin

[2019-08-12 17:25] EPashkin commented on #94
@sdroege Please replace my https://github.com/gtk-rs/gir/pull/826 with https://github.com/gtk-rs/gir/issues/807

[2019-08-13 20:59] BrainBlasted commented on #94
* [ ] https://github.com/gtk-rs/gtk/pull/871
* [ ] https://github.com/gtk-rs/gtk/pull/873

[2019-08-14 14:55] Cogitri commented on #94
- [ ] https://github.com/gtk-rs/gio/pull/226

[2019-08-14 18:09] federicomenaquintero commented on #94
* [ ] https://github.com/gtk-rs/gio/issues/234

[2019-08-17 03:12] BrainBlasted commented on #94
* [ ] gtk-rs/gtk#878
* [ ] gtk-rs/gtk#879
* [ ] gtk-rs/gtk#880

[2019-09-13 16:14] EPashkin commented on #94
code regen for gtk-rs/gir#826 is done

[2019-09-23 09:49] bilelmoussaoui commented on #94
- [ ] https://github.com/gtk-rs/gdk/pull/311

[2019-10-16 12:14] sdroege commented on #94
Let's target shortly after RustFest for the next release. Whatever is not finished at that point can also wait until the release afterwards :)

[2019-10-31 00:28] GuillaumeGomez opened #97 "Cleanup: put most functions into a class"
It'll allow to remove the globals once and for all.

[2019-10-31 00:29] GuillaumeGomez opened #98 "Cleanup: put arguments parsing into its own file"
And also put the arguments inside a class. Again: simpler to maintain.

[2019-11-01 16:56] #93 closed

[2019-11-01 21:45] #91 closed

[2019-11-01 22:34] #98 closed

[2019-11-03 17:46] GuillaumeGomez opened #102 "Make an option to only "work on" given crates"
The flag would be `--pick-crates` and it would ask the user for each crate if they want it to be included for the rest. It would allow to run only for sys crates for example.

[2019-11-12 12:51] #102 closed

[2019-11-23 09:51] sdroege commented on #94
At this point I would block on these 3 issues: gtk-rs/examples#256 gtk-rs/gtk#916 gtk-rs/glib#543

Let's get those fixed and then do a release next weekend? No further new features or anything, just bugfixes until then.

All other issues in the list above I would defer to next release. Doesn't look like people are actively working on them so it will have to wait.

[2019-11-23 17:44] GuillaumeGomez opened #104 "Ensure that the current toolchain is nightly"

[2019-11-27 13:51] #104 closed

[2019-11-30 06:38] sdroege commented on #94
Still no release: remaining blockers are gtk-rs/cairo#293 and gtk-rs/gtk#916. I wouldn't consider https://github.com/gtk-rs/pango/pull/168 a blocker as a) it is just a new feature, new API, and b) nobody actually seems to be working on it so who knows when it will be finished.

CC @GuillaumeGomez

[2019-11-30 11:05] GuillaumeGomez commented on #94
I agree, I'll certainly finish the pango one myself to go faster.

[2019-11-30 11:20] bilelmoussaoui commented on #94
I will finish the cairo merge request this weekend

[2019-12-09 07:22] sdroege commented on #94
I think we're ready for release apart from some testing that will have to happen :)

@GuillaumeGomez please don't forget this one when doing releases :)

[2019-12-09 10:24] sdroege commented on #94
Also keep in mind that the -sys crates only need a bugfix release, not a new major release.

[2019-12-14 16:29] EPashkin commented on #94
Seems release script now works fine.
Was only one problem with gtk-sys version, but it was not script error.
👍

[2019-12-14 16:33] GuillaumeGomez commented on #94
I still had to make some last minute fixes but that's part of the game. ;)

[2019-12-15 20:18] GuillaumeGomez opened #111 "Fix minification (and only make it run on search-index)"

[2019-12-15 20:18] GuillaumeGomez opened #112 "Fix examples merge (pending should be merged into master, not the opposite)"

[2019-12-17 10:33] GuillaumeGomez opened #113 "Documentation: crates files aren't correctly added!"

[2019-12-18 17:53] sdroege commented on #94
Release happened

[2019-12-18 17:53] #94 closed

[2020-01-10 11:22] GuillaumeGomez opened #114 "Release branches were not created"

[2020-01-10 11:25] GuillaumeGomez commented on #114
Maybe we should checkout "crate" in `generate_new_branches` before creating the branch.

[2020-01-10 11:26] GuillaumeGomez commented on #114
Or even better: get the current branch on which it is, checkout to "crate" then checkout back to the branch.

[2020-02-19 18:39] sdroege opened #115 "New release"
Tracker for all issues that should be solved before the next release. Please add anything you want to have considered in a comment below.

* [x] https://github.com/gtk-rs/gir-files/pull/52
* [x] https://github.com/gtk-rs/glib/issues/597
* [x] https://github.com/gtk-rs/glib/issues/599
* [x] https://github.com/gtk-rs/glib/issues/608
* [x] https://github.com/gtk-rs/glib/issues/613
* [ ] https://githu

[2020-02-24 13:27] sdroege commented on #115
@EPashkin @GuillaumeGomez

[2020-04-27 18:44] GuillaumeGomez opened #117 "Check what happens if a crate hasn't been released yet"
It'll be needed for gdkx11

[2020-04-27 18:45] GuillaumeGomez opened #118 "Add gdkx11 to the crate list"

[2020-04-28 13:00] GuillaumeGomez opened #119 "Remove minification process"
It's not required anymore considering how much the rustdoc parsing speed improved.

Superseed #111.

[2020-04-28 13:00] #111 closed

[2020-05-01 12:35] GuillaumeGomez opened #121 "Don't forget to copy aliases.js files if they get added"

[2020-05-01 12:38] #119 closed

[2020-06-01 20:16] sdroege commented on #115
So it's soon time to actually make a release, let's target in the next 2 weeks. Of the above the items that should really be solved are

* https://github.com/gtk-rs/gir-files/pull/52 @bilelmoussaoui
* https://github.com/gtk-rs/gdk/issues/345 @danigm
* https://github.com/gtk-rs/gtk/issues/981

I'll take care of these in the next days if nobody else does.

[2020-06-04 12:26] bilelmoussaoui commented on #115
The cairo one is done, I will look into updating the gir-files one

[2020-07-04 13:03] GuillaumeGomez opened #125 "Tags don't work well in the same repository"
[code]

[2020-07-04 13:45] GuillaumeGomez opened #126 "lgpl-docs publication"
Apparently, if you're already on the branch, `git checkout` doesn't return 0...

[code]

[2020-07-04 13:49] GuillaumeGomez commented on #126
The problem was actually:

[code]

[2020-07-04 13:49] #126 closed

[2020-07-04 14:28] GuillaumeGomez opened #127 "Fix search-index.js generation"
Two errors: one `\` at the beginning and at the end that shouldn't be there. Each crate line should be ended with `},\` and not `}\`.

[2020-07-05 12:20] #118 closed

[2020-07-05 14:40] sdroege opened #129 "Release script didn't update examples Cargo.toml versions correctly"
They're all `^0`, which is wrong.

See https://github.com/gtk-rs/examples/commit/e7cf9f56e086864ff6f9270216b2ba0416e24648#r40377368

[2020-07-05 14:41] sdroege opened #130 "Do next release with all crates at the same version"
See https://www.reddit.com/r/rust/comments/hl5778/new_gtkrs_release_new_crates_better_apis/fwx9o29/

It's simply confusing for users which versions of the many crates correspond to each other. We could easily make their live simpler (and probably also the release script) by doing the next release as `0.14.0` for all crates.

Means skipping some versions for everything but `gdk`, but who cares :)

[2020-07-05 14:43] GuillaumeGomez commented on #130
It can be done simply by changing the version in all master branches to `0.13`.

[2020-07-05 16:21] GuillaumeGomez commented on #127
Done in #131

[2020-07-05 16:21] #127 closed

[2020-07-08 06:52] sdroege commented on #115
This release is done now

[2020-07-08 06:52] #115 closed

[2020-07-08 06:53] sdroege opened #133 "New release"
Tracker for all issues that should be solved before the next release. Please add anything you want to have considered in a comment below.

* [ ] gtk-rs/glib#637
* [ ] gtk-rs/glib#640
* [ ] https://github.com/gtk-rs/glib/issues/664
* [ ] https://github.com/gtk-rs/gio/issues/293
* [ ] gtk-rs/gtk#938
* [ ] gtk-rs/gtk#998
* [ ] gtk-rs/sourceview#130
* [ ] gtk-rs/gir#474 @GuillaumeGomez
* [ ] https://g

[2020-12-19 17:50] bilelmoussaoui opened #137 "New release"
gir:
- [ ] https://github.com/gtk-rs/gir/issues/474
- [ ] https://github.com/gtk-rs/gir/issues/974
- [ ] https://github.com/gtk-rs/gir/issues/962
- [ ] https://github.com/gtk-rs/gir/issues/963
- [ ] https://github.com/gtk-rs/gir/issues/936

gtk-rs:
- [ ] https://github.com/gtk-rs/gtk-rs/issues/39
- [ ] https://github.com/gtk-rs/gtk-rs/issues/72
- [ ] https://github.com/gtk-rs/gtk-rs/issues/128
- [

[2020-12-19 17:55] sdroege commented on #133
Closing in favour of https://github.com/gtk-rs/release/issues/137

[2020-12-19 17:55] #133 closed

[2021-01-28 18:54] bilelmoussaoui opened #138 "Project icon"
I have got a deal with the GNOME design team to design us a logo in exchange for some code :P I opened this issue here to discuss that & offer feedback directly to @bertob

The first iteration suggested by Tobias looks like this
![image](https://user-images.githubusercontent.com/7660997/106184871-690d2f00-61a2-11eb-8b64-1e947ce02244.png)

cc @sdroege @GuillaumeGomez

In my opinion: I like the use

[2021-01-28 18:58] GuillaumeGomez commented on #138
Nice! :D

[2021-01-28 20:01] sdroege commented on #138
What's the trademark situation with ferris?

[2021-01-28 20:07] bilelmoussaoui commented on #138
From a quick research the ferris is not trademarked https://twitter.com/rustlang/status/1141011659680559104 but public domain :) rustls seems to use it as a base for their logo as well
![image](https://user-images.githubusercontent.com/7660997/106192689-d2923b00-61ac-11eb-8578-1ef3582f1711.png)

[2021-01-29 08:14] sdroege commented on #138
Sounds good then :)

Well there are also projects using the (definitely trademark) Rust gears logo, or the GNOME foot or GTK boxes. It's just that nobody complained hard enough to those projects.

[2021-01-31 11:44] bilelmoussaoui commented on #138
It seems the GNOME designers are trying to setup some kind of libraries "logos" design guidelines, we can just use that (see the suggestion of Tobias) and avoid using the GTK boxes to stay away from any possible issues in the future

[2021-02-19 22:54] sophie-h commented on #137
Last release is more than 6 month ago and some of the issues listed here might not happen in the next month. How about focusing on a new release soon, at least for gtk3+glib?

[2021-02-19 22:58] GuillaumeGomez commented on #137
Since we had big repository change, I'll need to update the release script to take that into account. I'll also need to check how to handle the referencing to crate of the same workspace and to add the gtk4 crates to the list of crates we want to handle in the release script. So until all that is done, it'll have to wait a bit.

However, there is hope: we talked recently about organizing a virtual

[2021-03-27 19:50] sophie-h opened #139 "Rename default branch from master to main"
Posting this in release since I think all repos should be changed.

Maybe do this before the hackfest such that we can fix everything that is affected by this during the weekend?

[2021-03-27 19:55] sdroege commented on #139
As a first step this needs some documenting of the impact of this. Apart from switching the default branch in git, what is assuming a branch named "master"?

Probably the CI scripts, probably @GuillaumeGomez's release scripts. What else?

Also how do we make sure that people actually notice this change and we don't get bug reports in a few months from people running from a completely outdated mast

[2021-03-27 20:00] sophie-h commented on #139
https://github.com/github/renaming/ sounds like github got us covered for many things.

Some background information https://about.gitlab.com/blog/2021/03/10/new-git-default-branch-name/. Looks like main will be the default in the majority of place pretty soon. Maybe it's less pain to do the change now.

[2021-03-28 14:04] GuillaumeGomez commented on #139
The default branch for cargo is `master`. Another thing to be taken into account.

[2021-03-28 14:29] sophie-h commented on #139
The branch for `cargo new` depends on `init.defaultBranch`. Support for using the remotes default branch is only waiting for a release I guess https://github.com/rust-lang/cargo/blob/master/CHANGELOG.md#cargo-152-2021-05-06.

[2021-03-28 15:05] GuillaumeGomez commented on #139
Not for new projects, for projects using `gtk-rs` as a dependency.

[2021-03-28 15:06] sophie-h commented on #139
Yes I answered this in my comment too. Also, this change will probably be transparent for end users because GitHub redirects the branch  https://about.gitlab.com/blog/2021/03/10/new-git-default-branch-name/ (also mentioned before.)

[2021-03-28 15:09] GuillaumeGomez commented on #139
Oh indeed, well, that's one less concern then.

[2021-04-11 09:08] GuillaumeGomez opened #140 "Generate all docs with the same output folder"
That will prevent some dark magic to simply pass the doc folder to `cargo doc`.

[2021-04-11 09:27] #140 closed

[2021-04-11 09:28] GuillaumeGomez opened #141 "Remove documentation generation"
It'll be handled by github CI directly.

[2021-04-18 21:19] sophie-h opened #147 "Agree on stability statement for crates"
I already relaxed the statement a bit

[code]

However, it still did not resonate with everyone.

Personally, I think that 'work in progress' sounds a bit harsh for the quality of gtk-rs. But still, until 1.0 there will be API breakage I guess?

[2021-04-19 10:31] GuillaumeGomez commented on #147
Even after 1.0, there will still be breakage. Personally, I'd simply remove it.

[2021-04-19 10:38] sdroege commented on #147
I agree, I would also remove it. The crates are as stable as those crates that release a new major release (1.0, 2.0, etc) every year or so :shrug:

[2021-04-19 10:43] sophie-h commented on #147
API changes are allowed between 0.x versions in SemVer. Therefore this would be expected based on SemVer.

[2021-04-19 10:49] sdroege commented on #147
Rust's version of SemVer treats `0.x.y` as `x.y` so that's all expected, yes :)

[2021-04-19 19:08] bilelmoussaoui commented on #147
I agree that we should drop that

[2021-04-19 20:06] GuillaumeGomez commented on #147
Do you want to send the PR @sophie-h ?

[2021-04-19 20:15] sophie-h commented on #147
Done

[2021-04-19 22:05] #147 closed

[2021-04-21 20:48] fengalin commented on #137
We can tick https://github.com/gtk-rs/gir/issues/963 now.

In the release notes, I believe it would be valuable to include a note in the line of:

## Note to applications developers

Applications developers should use [`fix-getters-calls` 0.3.0](https://crates.io/crates/fix-getters-calls/0.3.0) to ease migration of their applications. Use [`fix-getters-def` 0.3.0](https://crates.io/crates/fix-gett

[2021-04-21 21:14] bilelmoussaoui commented on #137
@fengalin Done, thanks!

[2021-05-24 12:41] GuillaumeGomez opened #149 "Change release script execution order"
Currently, we update the version then create a new branch then perform the release. For some reason, it'll do the opposite: create the new branch then update the version on the development branch.

[2021-06-02 18:44] sophie-h commented on #138
@bertob We are currently thinking about a website overhaul (gtk-rs/gtk-rs.github.io#204). Is there a chance that you could update the project logo displayed in this issue to the new GNOME standards? Also having the white ferris icon as svg for the website would probably be neat.

[2021-06-03 23:42] bertob commented on #138
In the mean time our thinking on library logos has changed somewhat. The new plan is to basically have a regular symbolic icon for each library, and just use that on a circle (or other shape, depending on the context) with a background color or gradient. We already rolled this out for libadwaita, here's and example what it could look like for gtk-rs:

![image](https://user-images.githubusercontent

[2021-06-04 08:11] sophie-h commented on #138
I must say ferris is looking gorgeous today! I really like you stylized version of :crab: and the more I look on the logo the more I like it.

I also like the new approach since it work quite good as chat logo etc. ![32](https://user-images.githubusercontent.com/3466497/120768103-1b238180-c51c-11eb-8bce-8d9c3e48cb01.png)

One thing I was wondering: Do you have any idea for slight variation of the

[2021-06-04 08:14] GuillaumeGomez commented on #138
The logo looks nice!

Why would you want a slight modification of each repository? Sounds a bit strange no?

[2021-06-04 08:18] sophie-h commented on #138
I was thinking about people being confused at which docs they are currently looking. But yeah, just an idea. Also we hopefully reduced the confusion with the docs a lot with no longer linking GTK 3 from GTK 4 docs. Probably my idea stems from that time.

[2021-06-04 08:24] sdroege commented on #138
OOC, which part of the logo is referring to GNOME or GTK? That looks like a generic Rust logo to me :) But otherwise looks nice.

[2021-06-04 08:46] sophie-h commented on #138
If we want to keep ferris (and I think we should keep her), maybe we could choose a non-ferris associated color? I would consider yellow, orange, red to be in the original ferris range. That would leave us with blue and purple (imo xD). I would try blue because that's the most GNOMEish it get's with colors.

![Screenshot-20210604104351-252x492](https://user-images.githubusercontent.com/3466497/120

[2021-06-04 11:38] sophie-h commented on #138
Blue with website context:

![download (19)](https://user-images.githubusercontent.com/3466497/120795587-f938f780-c539-11eb-9ed1-9720cf35bacc.png)

---
---

![download (18)](https://user-images.githubusercontent.com/3466497/120795595-f9d18e00-c539-11eb-80c8-ced8fbab8e7d.png)

---
---

![download (17)](https://user-images.githubusercontent.com/3466497/120795600-fa6a2480-c539-11eb-9c4b-695cc1a5dfd6.

[2021-06-04 11:46] GuillaumeGomez commented on #138
Bikeshedding and personal tase, the comeback: I like the icon in blue, but I don't like the blue you picked for the header... XD

[2021-06-04 11:48] sdroege commented on #138
Which of the blues? There are two variants (I like them both FWIW, maybe the dark one a bit more).

[2021-06-04 11:51] GuillaumeGomez commented on #138
Ah the first one, didn't see the second screenshot. ><

Yes, the second one looks good.

[2021-06-04 11:51] GuillaumeGomez commented on #138
Something I just thought about: how does the logo render on ayu and dark theme? I don't expect issues on the dark theme, however on the ayu one...

[2021-06-04 11:58] sophie-h commented on #138
"Don't theme my website!"

Sorry, I don't get what you are talking about.

[2021-06-04 12:03] GuillaumeGomez commented on #138
I don't want themes on gtk-rs.org, don't worry. ;) I was talking about rustdoc pages (since I assume we will use the logo there as well).

[2021-06-04 12:09] bertob commented on #138
I don't think we need to hit people over the head with GNOME/GTK-ness here, I think the glyph being in the style of our symbolics is enough.

No strong opinion about colors. I went with the red because it looked Rust-adjacent, but anything from the palette could probably work.

[2021-06-04 12:27] sophie-h commented on #138
The red logo would certainly work. But I get the argument that it looks like a general rust logo.

![download (20)](https://user-images.githubusercontent.com/3466497/120800868-bc243380-c540-11eb-9df5-1b9571657c94.png)

[2021-06-04 12:40] bilelmoussaoui commented on #138
The logo isn't about GTK-rs (as in the rust bindings of GTK) itself neither. Because there are bindings of other core libraries like Pango, Cairo, GLib/Gio. The suggested logo as is doesn't really tell anything other than hey it's a rust related thing.

[2021-06-04 13:33] bertob commented on #138
It's a Rust-related thing using the GNOME library icon style and colors :)

You don't want every one of our libraries to have to make a super obvious reference to GTK/GNOME, that gets tired very quickly.

[2021-06-04 13:52] sophie-h commented on #138
Yeah, I personally I would only be keen on staying away from looking too much like 'only like rust'.

The pink version also works for me. Expecting it to be a bit more controversial though.

![download (21)](https://user-images.githubusercontent.com/3466497/120811579-69e90f80-c54c-11eb-8056-b93cf57d1ce0.png)

[2021-06-04 13:55] GuillaumeGomez commented on #138
I like the pink version too. :)

[2021-06-04 14:47] Hofer-Julian commented on #138
+1 for pink.

Alternatively, the red one 😊

[2021-06-05 07:13] sdroege commented on #138
Pink, red, blue seems all good to me :)

[2021-06-05 14:53] sophie-h commented on #138
My impression is there is a tendency towards pink within active contributors. @bilelmoussaoui was unhappy that ferris isn't cute anymore. On the chat people wanted to throw in GTK symbols.

I would suggest the following: We are going with @bertob's version of the icon. Reasons: I don't think we can get ferris cute for 32x32px. Neither will there be aditionals symbols for GTK in 32x32px. Also, trad

[2021-06-05 15:04] GuillaumeGomez commented on #138
Sounds good to me.

[2021-06-05 21:43] sophie-h commented on #138
@bertob we have a go for the pink/purple variant. Can you finalize that version?

[2021-06-07 00:18] bertob commented on #138
Some variants with purple:

[2021-06-07 06:45] bilelmoussaoui commented on #138
Oh I like the three last ones

[2021-06-07 07:11] sdroege commented on #138
Oh no, now it's hard to decide again :) I like them all 4 but the ones with gradient a bit more.

[2021-06-07 08:48] GuillaumeGomez commented on #138
I like the one with pink gradient on top (the second one starting from the right).

[2021-06-07 10:28] sophie-h commented on #138
@bertob can you send this one as svg?

[2021-06-07 11:21] bertob commented on #138
Pushed the SVG here: https://gitlab.gnome.org/Teams/Design/library-icons/-/blob/master/gtk-rs.svg

[2021-06-07 21:42] sophie-h commented on #138
Thanks @bertob. Since it is already on gtk-rs.org I guess we can close?

[2021-06-07 23:15] bilelmoussaoui commented on #138
Before we close this, it seems like the 48px version of the logo looks very small on the docs
![image](https://user-images.githubusercontent.com/7660997/121098797-e9017080-c7f6-11eb-9e56-25d8fc876361.png)

while with 96px it looks much better
![image](https://user-images.githubusercontent.com/7660997/121098826-fb7baa00-c7f6-11eb-9d49-e6b4c0479273.png)

do you think it's possible to provide us with

[2021-06-08 08:33] sophie-h commented on #138
Fixed via gtk-rs/gtk-rs.github.io#209

[2021-06-08 08:39] #138 closed

[2021-06-18 11:55] sophie-h commented on #139
Progress with Rust 1.53

https://blog.rust-lang.org/2021/06/17/Rust-1.53.0.html#head-branch-name-support-in-cargo

[2021-06-20 07:35] sdroege commented on #139
Should we then maybe do it before the release now? :) @GuillaumeGomez @bilelmoussaoui ?

[2021-06-22 14:56] GuillaumeGomez commented on #141
Fixed in #143

[2021-06-22 14:56] #141 closed

[2021-06-22 14:57] #149 closed

[2021-06-22 16:27] bilelmoussaoui commented on #139
Sounds good to me

[2021-06-23 13:57] #130 closed

[2021-06-23 13:57] #117 closed

[2021-06-23 13:57] #121 closed

[2021-06-23 13:57] #114 closed

[2021-06-23 13:57] #113 closed

[2021-06-23 13:57] #112 closed

[2021-06-23 13:58] #95 closed

[2021-06-23 13:58] #82 closed

[2021-06-23 13:58] #71 closed

[2021-06-23 13:58] #135 closed

[2021-06-23 13:58] #3 closed

[2021-06-23 13:58] #21 closed

[2021-06-23 13:58] #22 closed

[2021-06-23 13:58] #125 closed

[2021-06-23 13:59] #129 closed

[2021-06-23 13:59] GuillaumeGomez opened #176 "Change how script gets "oldest date" when looking for PRs for the blog post"

[2021-10-25 10:00] GuillaumeGomez opened #177 "New release"
Previous release issue was #137.

Before next release we need:

 * [x] Update all crates to 1.56 and 2021 edition
 * [x] Change namespacing of `NONE` (https://github.com/gtk-rs/gir/issues/1252)
 * [x]  #176
 * [x]  Sync releases with gstreamer-rs (@slomo), relm4 (@aaronerhardt), libadwaita-rs (@bilelmoussaoui) and also mention those in the release blog post
 * [ ] **gtk-rs-core**: 0.15.0 milestone

[2022-01-07 21:16] #176 closed

[2022-01-14 21:11] GuillaumeGomez opened #187 "When a dependency has a git url and a version, the version is generated twice in the output"
For example in gdk4, this line:

[code]

became:

[code]

[2022-02-11 09:01] bilelmoussaoui opened #189 "New release"
- [ ] gtk-rs-core milestone: https://github.com/gtk-rs/gtk-rs-core/milestone/3
- [ ] gtk4-rs milestone: https://github.com/gtk-rs/gtk4-rs/milestone/5
- [ ] gstreamer-rs milestone: https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/-/milestones/3
- [ ] gst-plugins-rs milestone: https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs/-/milestones/1

[2022-02-11 09:02] bilelmoussaoui commented on #177
Made a new issue for next release https://github.com/gtk-rs/release/issues/189

[2022-02-11 09:02] #177 closed

[2022-09-16 09:14] sdroege commented on #189
We should target something like end of October 2022 for this release. Already took long enough :)

[2022-11-02 13:47] bilelmoussaoui opened #192 "New release"
- [ ] gtk4-rs https://github.com/gtk-rs/gtk4-rs/milestone/7
- [ ] gtk3-rs https://github.com/gtk-rs/gtk3-rs/milestone/4
- [ ] gtk-rs-core https://github.com/gtk-rs/gtk-rs-core/milestone/4
- [ ] gstreamer-rs https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/-/milestones/4
- [ ] gst-plugins-rs https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs/-/milestones/2

[2022-11-02 13:47] bilelmoussaoui commented on #189
Closing in favour of the next release https://github.com/gtk-rs/release/issues/192

[2022-11-02 13:47] #189 closed